#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Linux start script should use lf
/gradlew            text eol=lf

# These are Windows script files and should use crlf
*.bat               text eol=crlf

# The sources should use LF
/src/main/java/*    text eol=lf
/src/client/java/*  text eol=lf
